/*注册页面*/
.register_body{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:0px 20px;
}
.register_body h2{
    width:100%;
    float:left;
    text-align:center;
    font-size:16px;
    line-height:20px;
    color:#5a5a5a;
    margin:35px 0px;
}
.register_body .input_box{
    width:100%;
    float:left;
    position:relative;
}
.register_body .input_box .input_div{
    width:100%;
    float:left;
    position:relative;
    box-sizing:border-box;
    border:1px solid #b2b2b2;
    border-radius:5px;
    margin-bottom:15px;
    overflow:hidden;
}
.register_body .input_box.tel{
    box-sizing:border-box;
    padding-right:140px;
}
.register_body .input_box input{
    width:100%;
    float:left;
    height:44px;
    box-sizing:border-box;
    padding:11px 8px;
    font-size:16px;
    line-height:20px;
    background-color:#f9f9f9;
    border-radius:5px;
    border:0;
    color:#5a5a5a;
    outline:none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.register_body .input_box .yz_btn,
.register_body .input_box .yz_btn_noclick{
    width:130px;
    height:44px;
    background-color:#ff7600;
    color:#fff;
    font-size:16px;
    line-height:44px;
    text-align:center;
    border-radius:5px;
    position:absolute;
    top:0;
    right:0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /*禁用文字选择*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.register_body .input_box .yz_btn:active{
    background-color:#d26100;
}
.register_body .input_box .yz_btn_noclick{
    display:none;
    background-color:#ebebeb;
    color:#5a5a5a;
}
.register_body .input_box .yz_btn_noclick span{
    font-size:16px;
    line-height:44px;
    color:#ff7600;
}
.register_body .deal_box{
    width:100%;
    float:left;
    margin-top:15px;
    margin-bottom:80px;
}
.register_body .deal_box h3,
.register_body .deal_box a{
    float:left;
    font-size:16px;
    line-height:20px;
}
.register_body .deal_box h3{
    color:#5a5a5a;
}
.register_body .deal_box a{
    color:#ff7600;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/*课程列表*/
.chapter_body,
.chapter_title{
    width:100%;
    float:left;
    position:relative;
}
.chapter_title .line{
    width:100%;
    height:1px;
    float:left;
    background-color:#e3e3e3;
    margin:45px 0px;
}
.chapter_title h2{
    box-sizing:border-box;
    padding:0px 10px;
    font-size:16px;
    line-height:20px;
    color:#5a5a5a;
    background-color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
}
.chapter_box{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:8px;
    margin-bottom:30px;
}
.chapter_box .chapter_div{
    width:100%;
    float:left;
    box-sizing:border-box;
    border:4px solid #ff7600;
    margin-bottom:15px;
}
.chapter_box .chapter_div .img_box{
    width:100%;
    float:left;
    position:relative;
}
.chapter_box .chapter_div .img_box .chapter_img{
    width:100%;
    float:left;
}
.chapter_box .chapter_div .img_box .status_box{
    position:absolute;
    right:3%;
    bottom:10%;
    box-sizing:border-box;
    padding:2px 6px;
    border-radius:4px;
    /*禁用文字选择*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.chapter_box .chapter_div .img_box .w_btn{
    background-color:#fff;
}
.chapter_box .chapter_div .img_box .b_btn{
    background-color:#3ba9e2;
}
.chapter_box .chapter_div .img_box .o_btn{
    background-color:#ff7600;
}
.chapter_box .chapter_div .img_box .w_btn h2{
    color:#ff7600;
}
.chapter_box .chapter_div .img_box .b_btn h2,
.chapter_box .chapter_div .img_box .o_btn h2{
    color:#fff;
}
.chapter_box .chapter_div .img_box .status_box img{
    height:18px;
    float:left;
}
.chapter_box .chapter_div .img_box .status_box h2{
    min-width:48px;
    float:left;
    margin-left:5px;
    font-size:14px;
    line-height:18px;
    text-align:center;
}
.chapter_box .chapter_div .chapter_name{
    width:100%;
    float:left;
    background-color:#ff7600;
    box-sizing:border-box;
    padding:8px 5px;
    font-size:16px;
    color:#fff;
    line-height:20px;
}
.chapter_box .chapter_div:active{
    border:4px solid #d26100;
}
.chapter_box .chapter_div:active .chapter_name{
    background-color:#d26100;
}
.chapter_box .chapter_div:active .w_btn{
    background-color:#dbdbdb;
}
.chapter_box .chapter_div:active .b_btn{
    background-color:#3292c4;
}
.chapter_box .chapter_div:active .o_btn{
    background-color:#d26100;
}
/*菜单导航*/
.menu_box{
    width:100%;
    float:left;
    position:absolute;
    top:-100%;
    background-color:#fff;
    z-index:25;
    -moz-transition: top 0.5s 0s;
    -webkit-transition: top 0.5s 0s;
    transition: top 0.5s 0s;
}
.menu_box .menu_title{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:0px 5px;
    border-bottom:1px solid #ff7600;
}
.menu_box .menu_title .menu_div{
    width:33.33%;
    float:left;
    padding:15px;
    box-sizing:border-box;
}
.menu_box .menu_title .menu_div .menu_btn{
    width:100%;
    float:left;
    border-radius:5px;
    box-sizing:border-box;
    border:1px solid transparent;
    position:relative;
    /*禁用文字选择*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.menu_box .menu_title .menu_div .menu_bg,
.menu_box .menu_title .menu_div .menu_icon img,
.menu_box .menu_content .menu_img{
    width:100%;
    float:left;
}
.menu_box .menu_title .menu_div .menu_icon{
    width:40%;
    position:absolute;
    top:15%;
    left:30%;
    background-size:100%;
}
.menu_box .menu_title .menu_div .home{
    background-image:url(../images/home_icon.png);
}
.menu_box .menu_title .menu_div .schedule{
    background-image:url(../images/schedule_icon.png);
}
.menu_box .menu_title .menu_div .user{
    background-image:url(../images/user_icon.png);
}
.menu_box .menu_title .menu_div h2{
    width:100%;
    float:left;
    font-size:16px;
    line-height:20px;
    text-align:center;
    color:#415560;
    position:absolute;
    top:65%;
    left:0;
}
.menu_box .menu_title .menu_div:active .menu_btn,
.menu_box .menu_title .menu_div.active .menu_btn{
    border:1px solid #ff7600;
}
.menu_box .menu_title .menu_div:active .home,
.menu_box .menu_title .menu_div.active .home{
    background-image:url(../images/home_icon_active.png);
}
.menu_box .menu_title .menu_div:active .schedule,
.menu_box .menu_title .menu_div.active .schedule{
    background-image:url(../images/schedule_icon_active.png);
}
.menu_box .menu_title .menu_div:active .user,
.menu_box .menu_title .menu_div.active .user{
    background-image:url(../images/user_icon_active.png);
}
.menu_box .menu_title .menu_div:active h2,
.menu_box .menu_title .menu_div.active h2{
    color:#ff7600;
}
.menu_box .menu_content{
    width:100%;
    float:left;
    position:relative;
}
.menu_box .menu_content .btn_box{
    box-sizing:border-box;
    padding:0px 20px;
    position:absolute;
    bottom:8%;
}
.menu_box .menu_content .btn_box .btn_div{
    margin:0;
}


/*提示信息*/
.prompt_body{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:20px;
}
.alert_box{
    width:100%;
    float:left;
    display:none;
}
.alert_bg{
    width:100%;
    float:left;
    height:2000px;
    position:fixed;
    top:0;
    left:0;
    background-color:#000;
    opacity:0.7;
    z-index:110;
}
.alert_div{
    width:70%;
    position:fixed;
    left:15%;
    top:40%;
    border-radius:5px;
    background-color:#fff;
    box-sizing:border-box;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    z-index:120;
    overflow:hidden;
}
.alert_div .alert_title{
    width:100%;
    height:50px;
    float:left;
    background-color:#ff7600;
    position:relative;
}
.alert_div .alert_title img{
    height:30px;
    position:absolute;
    top:10px;
    left:50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
}
.alert_div h2{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:40px 20px 50px 20px;
    font-size:18px;
    line-height:22px;
    text-align:center;
    color:#262626;
}
.alert_div .alert_btn_box{
    width:100%;
    float:left;
}
.alert_div .alert_btn_box .one_btn{
     width:100%;
}
.alert_div .alert_btn_box .two_btn{
     width:50%;
}
.alert_div .alert_btn_box .one_btn,
.alert_div .alert_btn_box .two_btn{
    float:left;
    height:40px;
    font-size:16px;
    line-height:40px;
    text-align:center;
    box-sizing:border-box;
    border-top:1px solid #d1d1d1;
    
    /*禁用文字选择*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.alert_div .alert_btn_box .one_btn:active,
.alert_div .alert_btn_box .two_btn:active{
    background-color:rgba(0,0,0,0.1);
}
.alert_div .alert_btn_box .agree{
    color:#ff7600;
}
.alert_div .alert_btn_box .disagree{
    color:#919191;
    border-left:1px solid #d1d1d1;
}