/*注册页面*/
.register_body{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:0px 20px;
}
.register_body h2{
    width:100%;
    float:left;
    text-align:center;
    font-size:16px;
    line-height:20px;
    color:#5a5a5a;
    margin:35px 0px;
}
.register_body .input_box{
    width:100%;
    float:left;
    position:relative;
}
.register_body .input_box .input_div{
    width:100%;
    float:left;
    position:relative;
    box-sizing:border-box;
    border:1px solid #b2b2b2;
    border-radius:5px;
    margin-bottom:15px;
    overflow:hidden;
}
.register_body .input_box.tel{
    box-sizing:border-box;
    padding-right:140px;
}
.register_body .input_box input{
    width:100%;
    float:left;
    height:44px;
    box-sizing:border-box;
    padding:11px 8px;
    font-size:16px;
    line-height:20px;
    background-color:#f9f9f9;
    border-radius:5px;
    border:0;
    color:#5a5a5a;
    outline:none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.register_body .input_box .yz_btn,
.register_body .input_box .yz_btn_noclick{
    width:130px;
    height:44px;
    background-color:#ff7600;
    color:#fff;
    font-size:16px;
    line-height:44px;
    text-align:center;
    border-radius:5px;
    position:absolute;
    top:0;
    right:0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /*禁用文字选择*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.register_body .input_box .yz_btn:active{
    background-color:#d26100;
}
.register_body .input_box .yz_btn_noclick{
    display:none;
    background-color:#ebebeb;
    color:#5a5a5a;
}
.register_body .input_box .yz_btn_noclick span{
    font-size:16px;
    line-height:44px;
    color:#ff7600;
}
.register_body .deal_box{
    width:100%;
    float:left;
    margin-top:15px;
    margin-bottom:80px;
}
.register_body .deal_box h3,
.register_body .deal_box a{
    float:left;
    font-size:16px;
    line-height:20px;
}
.register_body .deal_box h3{
    color:#5a5a5a;
}
.register_body .deal_box a{
    color:#ff7600;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/*课程列表*/
.chapter_body,
.chapter_title{
    width:100%;
    float:left;
    position:relative;
}
.chapter_title .line{
    width:100%;
    height:1px;
    float:left;
    background-color:#e3e3e3;
    margin:45px 0px;
}
.chapter_title h2{
    box-sizing:border-box;
    padding:0px 10px;
    font-size:16px;
    line-height:20px;
    color:#5a5a5a;
    background-color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
}
.chapter_box,
.section_box{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:8px;
    margin-bottom:30px;
}
.chapter_box .chapter_div{
    width:100%;
    float:left;
    box-sizing:border-box;
    border:4px solid #ff7600;
    margin-bottom:15px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.chapter_box .chapter_div .img_box,
.section_box .section_div .img_box{
    width:100%;
    float:left;
    position:relative;
}
.chapter_box .chapter_div .img_box .chapter_img,
.section_box .section_div .img_box .section_img{
    width:100%;
    float:left;
    min-height:88px;
}
.chapter_box .chapter_div .img_box .status_box,
.section_box .section_div .img_box .status_box{
    position:absolute;
    right:3%;
    bottom:10%;
    box-sizing:border-box;
    padding:2px 6px;
    border-radius:4px;
    /*禁用文字选择*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.chapter_box .chapter_div .img_box .w_btn,
.section_box .section_div .img_box .w_btn{
    background-color:#fff;
}
.chapter_box .chapter_div .img_box .b_btn{
    background-color:#3ba9e2;
}
.chapter_box .chapter_div .img_box .o_btn,
.section_box .section_div .img_box .o_btn{
    background-color:#ff7600;
}
.chapter_box .chapter_div .img_box .w_btn h2,
.section_box .section_div .img_box .w_btn h2{
    color:#ff7600;
}
.chapter_box .chapter_div .img_box .b_btn h2,
.chapter_box .chapter_div .img_box .o_btn h2,
.section_box .section_div .img_box .o_btn h2{
    color:#fff;
}
.chapter_box .chapter_div .img_box .status_box img,
.section_box .section_div .img_box .status_box img{
    height:18px;
    float:left;
}
.chapter_box .chapter_div .img_box .status_box h2,
.section_box .section_div .img_box .status_box h2{
    min-width:48px;
    float:left;
    margin-left:5px;
    font-size:14px;
    line-height:18px;
    text-align:center;
}
.chapter_box .chapter_div .chapter_name{
    width:100%;
    float:left;
    background-color:#ff7600;
    box-sizing:border-box;
    padding:8px 5px;
    font-size:16px;
    color:#fff;
    line-height:20px;
}
.chapter_box .chapter_div:active{
    border:4px solid #d26100;
}
.chapter_box .chapter_div:active .chapter_name{
    background-color:#d26100;
}
.chapter_box .chapter_div:active .w_btn{
    background-color:#dbdbdb;
}
.chapter_box .chapter_div:active .b_btn{
    background-color:#3292c4;
}
.chapter_box .chapter_div:active .o_btn{
    background-color:#d26100;
}
/*菜单导航*/
.menu_box{
    width:100%;
    float:left;
    position:absolute;
    top:52px;
    background-color:#fff;
    z-index:25;
    margin-top:-100%;
    -moz-transition: margin 0.5s 0s;
    -webkit-transition: margin 0.5s 0s;
    transition: margin 0.5s 0s;
}
.menu_box .menu_title{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:0px 5px;
    border-bottom:1px solid #ff7600;
}
.menu_box .menu_title .menu_div{
    width:33.33%;
    float:left;
    padding:15px;
    box-sizing:border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.menu_box .menu_title .menu_div .menu_btn{
    width:100%;
    float:left;
    border-radius:5px;
    box-sizing:border-box;
    border:1px solid transparent;
    position:relative;
    /*禁用文字选择*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.menu_box .menu_title .menu_div .menu_bg,
.menu_box .menu_title .menu_div .menu_icon img,
.menu_box .menu_content .menu_img{
    width:100%;
    float:left;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.menu_box .menu_title .menu_div .menu_icon{
    width:40%;
    position:absolute;
    top:15%;
    left:30%;
    background-size:100%;
    background-repeat:no-repeat;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.menu_box .menu_title .menu_div .home{
    background-image:url(../images/home_icon.png);
}
.menu_box .menu_title .menu_div .schedule{
    background-image:url(../images/schedule_icon.png);
}
.menu_box .menu_title .menu_div .user{
    background-image:url(../images/user_icon.png);
}
.menu_box .menu_title .menu_div h2{
    width:100%;
    float:left;
    font-size:16px;
    line-height:20px;
    text-align:center;
    color:#415560;
    position:absolute;
    top:65%;
    left:0;
}
.menu_box .menu_title .menu_div:active .menu_btn,
.menu_box .menu_title .menu_div.active .menu_btn{
    border:1px solid #ff7600;
}
.menu_box .menu_title .menu_div:active .home,
.menu_box .menu_title .menu_div.active .home{
    background-image:url(../images/home_icon_active.png);
}
.menu_box .menu_title .menu_div:active .schedule,
.menu_box .menu_title .menu_div.active .schedule{
    background-image:url(../images/schedule_icon_active.png);
}
.menu_box .menu_title .menu_div:active .user,
.menu_box .menu_title .menu_div.active .user{
    background-image:url(../images/user_icon_active.png);
}
.menu_box .menu_title .menu_div:active h2,
.menu_box .menu_title .menu_div.active h2{
    color:#ff7600;
}
.menu_box .menu_content{
    width:100%;
    float:left;
    position:relative;
}
.menu_box .menu_content .btn_box{
    box-sizing:border-box;
    padding:0px 20px;
    position:absolute;
    bottom:8%;
}
.menu_box .menu_content .btn_box .btn_div{
    margin:0;
}
/*课程列表*/
.section_body,
.section_title{
    width:100%;
    float:left;
    position:relative;
}
.section_title h2{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:0px 10px;
    font-size:18px;
    line-height:20px;
    text-align:center;
    color:#606060;
    margin:35px 0px;
}
.section_box .section_div{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:3px;
    border:1px solid #d5d5d5;
    margin-bottom:15px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.section_box .section_div .section_name{
    width:100%;
    float:left;
    background-color:#fff;
    box-sizing:border-box;
    padding:8px 5px;
    font-size:16px;
    color:#0e0e0e;
    line-height:20px;
}
.section_box .section_div:active{
    background-color:#dbdbdb;
}
.section_box .section_div:active .section_name{
    background-color:#dbdbdb;
}
.section_box .section_div:active .w_btn{
    background-color:#dbdbdb;
}
.section_box .section_div:active .o_btn{
    background-color:#d26100;
}
/* 我的进度 */
.progress_box{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:0px 15px;
    margin-bottom:40px;
}
.progress_box .progress_list{
    width:100%;
    float:left;
    border-top:1px solid #bebebe;
}
.progress_box .progress_list .progress_div{
    width:100%;
    float:left;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.progress_box .progress_list .progress_div .progress_title{
    width:100%;
    float:left;
    box-sizing:border-box;
    border:1px solid #bebebe;
    border-top:0;
    position:relative;
    padding:15px 60px 15px 15px;
}
.progress_box .progress_list .progress_div .progress_title.active{
    border-bottom:1px solid #ff7600;
}
.progress_box .progress_list .progress_div .progress_title.active h2,
.progress_box .progress_list .progress_div .progress_title.active h3{
    color:#ff7600;
}
.progress_box .progress_list .progress_div .progress_title:active,
.progress_box .progress_list .progress_div .progress_content li:active{
    background-color:#dbdbdb;
}
.progress_box .progress_list .progress_div .progress_title h2{
    width:30px;
    float:left;
    font-size:20px;
    line-height:20px;
    color:#909090;
    font-weight:bold;
}
.progress_box .progress_list .progress_div .progress_title h3{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding-left:30px;
    font-size:16px;
    line-height:20px;
    color:#909090;
    margin-top:-20px;
}
.progress_box .progress_list .progress_div .progress_title.complete h2,
.progress_box .progress_list .progress_div .progress_title.complete h3{
    color:#ff7600;
}
.progress_box .progress_list .progress_div .progress_title .pro_icon{
    width:17px;
    position:absolute;
    top:-1px;
    right:40px;
}
.progress_box .progress_list .progress_div .progress_title .pro_btn_box{
    width:16px;
    height:16px;
    float:left;
    position:absolute;
    top:17px;
    right:8px;
}
.progress_box .progress_list .progress_div .progress_title .pro_btn_box img{
    width:100%;
    float:left;
}
.progress_box .progress_list .progress_div .progress_content{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:10px 0px 10px 45px;
    border-bottom:1px solid #bebebe;
    display:none;
}
.progress_box .progress_list .progress_div .progress_content li:first-child{
    border-top:0 !important;
}
.progress_box .progress_list .progress_div .progress_content li{
    width:100%;
    list-style:disc;
    list-style-position:inside;
    color:#7f7f7f;
    box-sizing:border-box;
    padding:8px 60px 8px 0px;
    border-top:1px dotted #ccd0d4;
    position:relative;
}
.progress_box .progress_list .progress_div .progress_content .star_g,
.progress_box .progress_list .progress_div .progress_content .star_o{
    width:17px;
    position:absolute;
    top:11px;
    right:40px;
}
.progress_box .progress_list .progress_div .progress_content .star_o{
    display:none;
}
.progress_box .progress_list .progress_div .progress_content li.over{
    color:#ff7600;
}
.progress_box .progress_list .progress_div .progress_content li.over .star_g{
    display:none;
}
.progress_box .progress_list .progress_div .progress_content li.over .star_o{
    display:block;
}
.progress_box .progress_list .progress_div:last-child .progress_content{
    border-bottom:0;
}
/*培训课程*/
.section_content{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:15px 15px 60px 15px;
}
.section_content img{
    width:100%;
    float:left;
}
/*课程测验*/
.exam_box{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:0px 20px 60px 20px;
}
.exam_box h2{
    width:100%;
    float:left;
    font-size:18px;
    line-height:20px;
    color:#7f7f7f;
}
.exam_box h2 span{
    width:30px;
    float:left;
    font-size:18px;
    line-height:20px;
    color:#7f7f7f;
    font-weight:bold;
}
.exam_box .exam_div,
.exam_box .exam_div .opation_div{
    width:100%;
    float:left;
    position:relative;
}
.exam_box .exam_div{
    margin-top:35px;
}
.exam_box .exam_div .opation_div{
    margin-top:15px;
    /*禁用文字选择*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.exam_box .exam_div h3{
    width:100%;
    float:left;
    font-size:16px;
    line-height:20px;
    color:#ff7600;
}
.exam_box .exam_div h3 img{
    height:18px;
    margin-bottom:-4px;
    margin-left:10px;
}
.exam_box .exam_div .opation_div input{
    width:14px;
    height:14px;
    position:absolute;
    top:2px;
    left:0;
}
.exam_box .exam_div .opation_div span{
    width:100%;
    float:left;
    font-size:14px;
    line-height:18px;
    color:#595757;
    padding-left:20px;
    box-sizing:border-box;
}

/* 礼品页面 */
.menber_point{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:0px 15px;
    margin-bottom:35px;
    position:relative;
}
.menber_point h2{
    width:90px;
    float:left;
    font-size:16px;
    line-height:32px;
    color:#ff7600;
    text-align:center;
}
.menber_point h3{
    width:100%;
    float:left;
    font-size:32px;
    line-height:32px;
    color:#ff7600;
    box-sizing:border-box;
    padding:0px 95px 0px 105px;
    margin-top:-32px;
}
.redeem_btn,
.redeem_end,
.info_box .info_div .info_btn{
    position:absolute;
    width:80px;
    height:32px;
    border-radius:16px;
    font-size:16px;
    line-height:30px;
    text-align:center;
    bottom:10px;
    right:15px;
    border:1px solid #e5e5e5;
    color:#ff7600;
    box-sizing:border-box;
    /*禁用文字选择*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.redeem_record{
    width:90px;
    background-color:#d6d6d7;
    color:#606060;
    top:0;
    border:0;
    line-height:32px;
}
.redeem_end{
    color:#b7b7b7;
}
.redeem_btn:active{
    background-color:#dbdbdb;
}
.redeem_record:active{
    background-color:#999491;
}
.price_box,
.info_box{
    width:100%;
    float:left;
    border-bottom:1px solid #d9d9d9;
    margin-bottom:65px;
}
.price_box .price_div,
.info_box .info_div{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:0px 15px;
    border-top:1px solid #d9d9d9;
    position:relative;
}
.price_box .price_div .price_icon{
    width:90px;
    height:90px;
    float:left;
    position:absolute;
    top:20px;
    left:15px;
}
.price_box .price_div .price_content{
    width:100%;
    height:130px;
    float:left;
    box-sizing:border-box;
    padding:10px 95px 0px 105px;
}
.price_box .price_div .price_content h2{
    width:100%;
    float:left;
    font-size:16px;
    line-height:18px;
    color:#ff7600;
    margin-bottom:30px;
    font-weight:bold;
}
.price_box .price_div .price_content p{
    width:100%;
    float:left;
    font-size:12px;
    color:#808080;
    margin-bottom:15px;
}
.price_box .price_div .price_content .like_icon{
    height:16px;
    float:left;
}
.price_box .price_div .price_content h3{
    float:left;
    box-sizing:border-box;
    font-size:14px;
    line-height:16px;
    margin-left:10px;
    color:#415560;
}
/*兑换记录*/
.record_box{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:0px 40px 60px 50px;
}
.record_box .record_div{
    width:100%;
    float:left;
    position:relative;
}
.record_box .record_div .time_icon{
    width:20px;
    position:absolute;
    left:-10px;
    top:0;
}
.record_box .record_div h2,
.record_box .record_div h3{
    font-size:14px;
    color:#000;
}
.record_box .record_div h2{
    float:left;
    margin-left:20px;
}
.record_box .record_div h3{
    width:60px;
    float:right;
}
.record_box .record_div .like_icon{
    height:20px;
    float:right;
    margin-right:10px;
}
.record_box .record_div p{
    width:100%;
    min-height:60px;
    float:left;
    box-sizing:border-box;
    padding:0px 20px;
    border-left:1px solid #f3f3f3;
    font-size:16px;
    line-height:18px;
    color:#ff7600;
    margin:10px 0px;
    font-weight:bold;
}
/*资料领取*/
.info_box .info_div{

}
.info_box .info_div .info_img{
    width:90px;
    height:90px;
    position:absolute;
    top:20px;
    left:15px;
}
.info_box .info_div .info_content{
    width:100%;
    height:130px;
    float:left;
    box-sizing:border-box;
    padding:10px 0px 15px 105px;
}
.info_box .info_div .info_content h2{
    width:100%;
    float:left;
    font-size:16px;
    color:#ff7600;
    font-weight:bold;
    line-height:18px;
    margin-bottom:25px;
}
.info_box .info_div p{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding-right:100px;
    font-size:12px;
    color:#606060;
}
.info_box .info_div .info_btn{
    width:90px;
}
/*提示信息*/
.prompt_body{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:20px;
}
.alert_box{
    width:100%;
    float:left;
    display:none;
}
.alert_bg{
    width:100%;
    float:left;
    height:2000px;
    position:fixed;
    top:0;
    left:0;
    background-color:#000;
    opacity:0.7;
    z-index:110;
}
.alert_div{
    width:70%;
    position:fixed;
    left:15%;
    top:40%;
    border-radius:5px;
    background-color:#fff;
    box-sizing:border-box;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    z-index:120;
    overflow:hidden;
}
.alert_div .alert_title{
    width:100%;
    height:50px;
    float:left;
    background-color:#ff7600;
    position:relative;
}
.alert_div .alert_title img{
    height:30px;
    position:absolute;
    top:10px;
    left:50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
}
.alert_div h2{
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:40px 20px 50px 20px;
    font-size:18px;
    line-height:22px;
    text-align:center;
    color:#262626;
}
.alert_div .alert_btn_box{
    width:100%;
    float:left;
}
.alert_div .alert_btn_box .one_btn{
     width:100%;
}
.alert_div .alert_btn_box .two_btn{
     width:50%;
}
.alert_div .alert_btn_box .one_btn,
.alert_div .alert_btn_box .two_btn{
    float:left;
    height:40px;
    font-size:16px;
    line-height:40px;
    text-align:center;
    box-sizing:border-box;
    border-top:1px solid #d1d1d1;
    
    /*禁用文字选择*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.alert_div .alert_btn_box .one_btn:active,
.alert_div .alert_btn_box .two_btn:active{
    background-color:rgba(0,0,0,0.1);
}
.alert_div .alert_btn_box .agree{
    color:#ff7600;
}
.alert_div .alert_btn_box .disagree{
    color:#919191;
    border-left:1px solid #d1d1d1;
}